.nav {
    background-color: aquamarine;
    display: flex;
  column-gap: 1rem;
  padding: 10px

}

.search {
    text-align: center;
}

.container {
    display: flex;
    column-gap: 200px;
}


.login {
    margin: auto;
    width:max-content;
}

.signup {
    margin: auto;
    width:max-content;
}
